<!doctype html>
<html lang="en">

  <%= render 'articles/head' %>

  <body>
    <%= render 'articles/nav' %>
    <div class='container'>
        <%= render 'form', article: @article %>
    </div>

    <%= render 'articles/footer' %>
    
  </body>
</html>









